*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100svh;
  background: rgb(224, 215, 189);
  display: grid;
  place-items: center;
  position: relative;
}

#game-board{
  width: 80%;
  height: 600px;
  margin: auto;
  background-color: white;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.171);

}
#score-board{
  /* width: 80px;
  height: 200px; */
  /* background-color: rgb(255, 255, 255); */
  position: absolute;
  right: 2%;
  top: 2%;
}
#score-board button {

  display: block;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

#score-board button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

 #score-board button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
#score-board button i{
  font-size: 1.4rem;
}
.pole{
  width: 50px;
  height: 100%;
  background-color: red;
  position: absolute;
  left: 0;
  transform: translateX(-120%);
  animation: pole 3s infinite linear;
}
.hole{
  height: 200px;
  width: 100%;
  background-color: white;
  top: 100px;
  position: absolute;
}
#character{
  width: 60px;
  aspect-ratio: 1 / 1;
  background: url("./assets/character.png" ) no-repeat center / cover ;
  position: absolute;
  left: 20%;
  top: 20%;
  border-radius: 0 0 50% 50%;
  filter: drop-shadow(3px 3px 10px black );
}
@keyframes pole{
  from{
    left: 110%;
  }
}
