*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100svh;
  background: rgb(224, 215, 189);
  display: grid;
  place-items: center;
  position: relative;
}

#game-board{
  width: 80%;
  height: 600px;
  margin: auto;
  background-color: white;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.171);

}
#speaker{
  position: absolute;
  right: 2%;
  top: 2%;
    z-index: 1000;
}
 button{
  display: block;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}
button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

 button:active, #game-over button {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
button i{
  font-size: 1.4rem;
}
.pole{
  width:90px;
  height: 800px;
   /* border: 1px solid; */
   /* background-color: rgba(255, 0, 0, 0.123); */
  position: absolute;
  left: 0;
  top: -100px;
  transform: translateX(-120%);
  animation: pole 3s infinite linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 13rem;
}
.pole:nth-child(2){
  animation-delay:  .75s;
}
.pole:nth-child(3){
  animation-delay: 1.5s;
}
.pole:nth-child(4){
  animation-delay: 2.25s;
}
.top-pole, .bottom-pole{
  height: 300px;
  width: 100%;
  background-color: red;
  background: url("./assets/pole.png") no-repeat top center / cover ;
  /* border: 1px solid; */
}
.top-pole{

  transform: rotateZ(180deg) rotateY(180deg);
}
#character{
  width: 60px;
  aspect-ratio: 1 / 1;
  background: url("./assets/character.png" ) no-repeat center / cover ;
  position: absolute;
  left: 20%;
  top: 20%;
  border-radius: 0 0 50% 50%;
  filter: drop-shadow(3px 3px 10px black );
}
@keyframes pole{
  from{
    left: 120%;
  }
}

#game-over{
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.096);
  position:fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: none;
  align-items: center;
  justify-content: center;

}
#game-over #score-board{
  color: hsl(256, 100%, 53%);
  display: grid;
  place-items: center;
  gap: 1rem;
}

@media (max-width: 500px) {
  #game-board{
    width: 90%;
  }

  .pole:not(:first-child){

    display: none;
  }


  /* .pole:nth-child(3){
    animation-delay:  1.3s !important;
  } */

}
